@import './variables';
@import './mixins';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.content {
  width: 100%;
  max-width: 1200px;
  margin: 2rem auto;
  padding: 0 1rem;
  font-family: Roboto;
 
.products {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  .product-card {
      background: white;
      border: 1px solid #ddd;
      border-radius: 8px;
      padding: 1rem;
      text-align: center;
      width: calc(33.33% - 2rem);
      margin: 1rem;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s, box-shadow 0.3s;

      &:hover {
          transform: scale(1.05);
          box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
      }

      img {
          max-width: 100%;
          border-radius: 8px;
          margin-bottom: 1rem;
      }

      h5 {
          font-size: 1.25rem;
          margin-bottom: 0.5rem;
      }

      p {
          font-size: 1rem;
          margin-bottom: 1rem;
      }

      button {
          background-color: #800000;; // Thay thế bằng màu chính của bạn
          color: white;
          border: none;
          padding: 0.5rem 1rem;
          cursor: pointer;
          border-radius: 4px;

          &:hover {
              background-color: darken(#007bff, 10%);
          }
      }
  }
}
}